body {
    background-color: antiquewhite;
}

.box {
    display: flex;
    position: relative;
    width: 50vw;
    height: 30vh;
    margin: 15rem 0 0 22rem;
    /* left: 50px; */
    /* top: 249px; */
    /* margin: auto; */
    background-color: rgba(250, 235, 215, 0);
}

.ico {
    background-color: antiquewhite;
    width: 9vw;
    height: 17vh;
    position: relative;
    top: 6vh;
    box-shadow: 3px 1px 33px 15px rgba(0, 0, 0, 0.4);
    border-radius: 31%;
}


.ico:active {
    box-shadow: 3px 1px 40px 8px rgba(0, 0, 0, 0.35);
}

i {
    color: rgba(0, 0, 0, 0.993);
    position: relative;
    top: 1.3rem;
    left: 1.6rem;
    font-size: 11vh;
    opacity: 32%;

}

.home {
    position: relative;
    top: 2.3rem;
    left: 40.6rem;
    background-color: antiquewhite;
    width: 11vw;
    height: 9vh;
    box-shadow: 3px 1px 33px 15px rgba(0, 0, 0, 0.4);
    border-radius: 12%;
    margin-bottom: 20px !important;
}

.home:active {
    box-shadow: 3px 1px 40px 8px rgba(0, 0, 0, 0.35);
}

.home p {
    position: relative;
    font-size: 41px;
    top: -0.4rem;
    left: -0.4rem;
    color: rgb(71, 66, 59);
    width: 11vw;
    height: 6vh;
}

.home p:active {
    margin-bottom: 0px !important;
}

/* .star{
    background-color: rgb(139, 211, 245);
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 13vh;
}
.list{
    background-color: rgb(139, 245, 171);
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 13vh
}
.step{
    background-color: rgb(245, 243, 139);
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 13vh
} */

@media (max-width: 600px) {
    .box {
        display: block;
        position: relative;
        width: 73vw;
        height: 79vh;
        top: 83px;
        margin: auto;
        background-color: rgba(247, 140, 0, 0);
    }

    .ico {
        top: -5vh;
        width: 38vw;
        margin-top: 5rem;
    }

    .home {
        box-shadow: 3px 1px 40px 8px rgba(0, 0, 0, 0.35);
        margin-bottom: 20px !important;
        top: 2.3rem;
        left: 8.1rem;
        background-color: antiquewhite;
        width: 35vw;
        height: 7vh;
    }

    .home p {
        left: 0.2rem;
    }
}

#star {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 0px 1px hsla(0, 0%, 100%, 0.349);
    color: #000000;
    position: relative;
    top: -18vh;
    left: 4vw;
    height: 44vh;
    width: 45vw;
    border-radius: 3%;
    /* transition: all .5s; */
}

/* 
#modal.active {
    top: 0;
  }
     */

#estrella{
    color: rgba(210, 210, 210, 0.61);
    position:static;
    
    font-size: 11vh;
    opacity: 100% !important;
}

#estrella:hover{
    color: rgb(255, 217, 0);
    
}
#estrella:active{
    color: rgb(255, 217, 0);
    
}