body {
    background-color: #d7e1fa;
}

.box {
    display: flex;
    position: relative;
    top: 15rem;
    width: 50vw;
    height: 30vh;
    margin: auto;
    background-color: rgba(250, 235, 215, 0);
}

.ico {
    background-color: #ffd49b;
    width: 9vw;
    height: 17vh;
    position: relative;
    top: 6vh;
    box-shadow: 10px 10px 3px -2px hsla(222.1, 100%, 77.1%, 0.58);
    border-radius: 31%;
}

.ico:hover {
    background-color: #f1c68c;
}


.ico:active {
    box-shadow: 10px 10px 9px -5px hsla(222.1, 100%, 77.1%, 0.58);
}

i {
    color: rgba(0, 0, 0, 0.27);
    position: relative;
    font-size: 11vh;
}

.ico i:active {
    margin-bottom: -25px !important;
}


/* .star{
    background-color: rgb(139, 211, 245);
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 13vh;
}
.list{
    background-color: rgb(139, 245, 171);
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 13vh
}
.step{
    background-color: rgb(245, 243, 139);
    width: 2vw;
    height: 4vh;
    position: relative;
    top: 13vh
} */

@media (max-width: 600px) {
    .box {
        display: block;
        position: relative;
        width: 73vw;
        height: 79vh;
        top: 83px;
        margin: auto;
        background-color: rgba(247, 140, 0, 0);
    }

    .ico {
        top: -5vh;
        width: 38vw;
        margin-top: 5rem;
    }

}

/* Star Ranking */

#star {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 8px 1px hsla(222.1, 100%, 77.1%, 0.58);
    color: #000000;
    position: relative;
    top: 25vh;
    left: 27vw;
    height: 44vh;
    width: 45vw;
    border-radius: 3%;
    padding-top: 4rem;
}

#estrella {
    color: rgba(210, 210, 210, 0.61);
    position: static;
    font-size: 11vh;
    opacity: 100% !important;

}

.volver {
    position: relative;
    color: #a6a6a6;
    background-color: #d7e1fa00;
    border: transparent
}

/* List */

#lista{
    position: relative;
    top: 4rem;
}

#lista h2{
    color:#070788
}

.caja1{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 10px 8px 1px hsla(222.1, 100%, 77.1%, 0.58);
    color: #000000;
    position: relative;
    top: 1vh;
    left: 27vw;
    height: 77vh;
    width: 45vw;
    border-radius: 3%;
    padding-top: 4rem;
}
#dropdownMenuButton1{
    width:26vw;
    height: 7vh;
    text-align: start;
    background-color: #eaeeff;
    border-color: transparent;
    color: #6f6fbf;
}
.lista2{
    width:26vw;
    height: 7vh;
    text-align: start;
    background-color: #002fff;
    border-color: transparent;
    color: #6f6fbf;
}

.dropdown-menu{
    width:26vw;
    height: 7vh;
    border-color: transparent;
}
.dropdown-item:active{
    background-color: #a6a6a6 !important;
}

.hab-list{
    text-align: start;
}
.hab-list button{
    color: #6f6fbf;
    background-color: #d7e1fa00;
    border: transparent
}

#seleccion{
    background-color:#070788 ;
    color: white;
    text-align: start;
    width:26vw;
    height: 7vh;
    border-radius: 5%;
    padding: 10px 1px 0px 10px;
    margin: 11px 0px 15px 29px;
}

.btn-close{
    color: #ffffff !important;
    background-color: #d7e1fa00 !important;
    border: transparent
}